VITE_MSAL_CLIENT_ID=e85cf163-f746-4dc6-8691-988b08ba4b9b
VITE_MSAL_AUTHORITY=https://login.microsoftonline.com/1004261b-dfb7-4f37-830f-7438cb8a1b69
VITE_API_BASE_URL=https://vn-fa-sa-sdp-p-aas-bbckcyaxbnahd5cq.southeastasia-01.azurewebsites.net
VITE_API_SCOPE=api://cb8dec91-7778-4c5c-b93f-11cfe72440b8/Portal.Access
