# DHRefreshAAS shared operator/model environment
# Copy this file to `.env` for local use. Keep secrets only in the local `.env`.

# Azure account / ARM
AZURE_SUBSCRIPTION_ID=8730775e-045c-47d1-a080-e3b9882cec01
AZURE_RESOURCE_GROUP=vn-rg-sa-sdp-solution-p
AZURE_ARM_RESOURCE=https://management.azure.com/
AZURE_TENANT_ID=1004261b-dfb7-4f37-830f-7438cb8a1b69

# Function App
FUNCTION_APP_NAME=vn-fa-sa-sdp-p-aas
FUNCTION_APP_BASE_URL=https://vn-fa-sa-sdp-p-aas.azurewebsites.net
FUNCTION_HTTPSTART_NAME=DHRefreshAAS_HttpStart
FUNCTION_STATUS_NAME=DHRefreshAAS_Status
FUNCTION_TESTTOKEN_NAME=DHRefreshAAS_TestToken
FUNCTION_TESTCONNECTION_NAME=DHRefreshAAS_TestConnection
FUNCTION_KEY_HTTPSTART=
FUNCTION_KEY_STATUS=

# Logic Apps
LOGIC_APP_REFRESHCUBE=RefreshCube
LOGIC_APP_REFRESHCUBE_UAT=RefreshCube_UAT
LOGIC_APP_REFRESHCUBE_NEW=RefreshCube_New
LOGIC_APP_TRIGGER_NAME=When_a_HTTP_request_is_received

# Azure Analysis Services
AAS_SERVER_NAME=vnaassasdpp01
AAS_SERVER_URL=asazure://southeastasia.asazure.windows.net/vnaassasdpp01
AAS_RESOURCE_GROUP=vn-rg-sa-sdp-solution-p
AAS_SUBSCRIPTION_ID=8730775e-045c-47d1-a080-e3b9882cec01
AAS_AUTH_MODE=ServicePrincipal
AAS_DATABASE=PROD_DataAnalyticsModel
AAS_USER_ID=
AAS_PASSWORD=
AAS_TENANT_ID=1004261b-dfb7-4f37-830f-7438cb8a1b69
AAS_ORIGINAL_SKU=S2
AAS_SCALE_UP_SKU=S4

# SQL / Elastic Pool
SQL_SERVER_NAME=vn-sql-sa-sdp-solution-p-01
SQL_ELASTIC_POOL_NAME=vn-sql-sa-sdp-pool
ELASTIC_POOL_RESOURCE_GROUP=vn-rg-sa-sdp-solution-p
SQL_CONNECTION_PROD=sql
SQL_CONNECTION_UAT=sql-1
SQL_CONNECTION_NEW=sql-2
SQL_DYNAMICINVOKE_PROD_URL=https://management.azure.com/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/connections/sql/dynamicInvoke?api-version=2016-06-01
SQL_DYNAMICINVOKE_UAT_URL=https://management.azure.com/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/connections/sql-1/dynamicInvoke?api-version=2016-06-01
SQL_DYNAMICINVOKE_NEW_URL=https://management.azure.com/subscriptions/8730775e-045c-47d1-a080-e3b9882cec01/resourceGroups/vn-rg-sa-sdp-solution-p/providers/Microsoft.Web/connections/sql-2/dynamicInvoke?api-version=2016-06-01

# Runtime baseline
AzureWebJobsStorage=
FUNCTIONS_WORKER_RUNTIME=dotnet-isolated
FUNCTIONS_EXTENSION_VERSION=~4
MAX_RETRY_ATTEMPTS=3
BASE_DELAY_SECONDS=30
SAVE_CHANGES_BATCH_SIZE=3
SAVE_CHANGES_MAX_PARALLELISM=2
SAVE_CHANGES_TIMEOUT_MINUTES=15
OPERATION_TIMEOUT_MINUTES=60
CONNECTION_TIMEOUT_MINUTES=10
ENABLE_AAS_AUTO_SCALING=true
ENABLE_DETAILED_LOGGING=true
ENABLE_ELASTIC_POOL_AUTO_SCALING=true
HEARTBEAT_INTERVAL_SECONDS=30
ELASTIC_POOL_SCALE_UP_DTU=1600
ELASTIC_POOL_ORIGINAL_DTU=800
ZOMBIE_TIMEOUT_MINUTES=120

# Default operational hints
DEFAULT_WORKFLOW_NAME=RefreshCube
DEFAULT_SQL_CONNECTION=sql
DEFAULT_AAS_DATABASE=PROD_DataAnalyticsModel
DEFAULT_MASTER_ETL_LINEAGE_KEY=

# Optional secrets or volatile values. Leave blank in the tracked template.
APPLICATIONINSIGHTS_CONNECTION_STRING=
