{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "FUNCTIONS_EXTENSION_VERSION": "~4",

    "AAS_SERVER_URL": "asazure://region.asazure.windows.net/yourserver",
    "AAS_DATABASE": "YourDatabase",
    "AAS_AUTH_MODE": "ManagedIdentity",
    "AAS_USER_ID": "",
    "AAS_PASSWORD": "",
    "AAS_TENANT_ID": "",

    "MAX_RETRY_ATTEMPTS": "3",
    "BASE_DELAY_SECONDS": "30",
    "CONNECTION_TIMEOUT_MINUTES": "10",
    "OPERATION_TIMEOUT_MINUTES": "60",
    "SAVE_CHANGES_TIMEOUT_MINUTES": "15",
    "SAVE_CHANGES_BATCH_SIZE": "3",
    "SAVE_CHANGES_MAX_PARALLELISM": "2",
    "HEARTBEAT_INTERVAL_SECONDS": "30",
    "ENABLE_DETAILED_LOGGING": "true",
    "ENABLE_AAS_AUTO_SCALING": "false",
    "AAS_SCALE_UP_SKU": "S4",
    "ENABLE_ELASTIC_POOL_AUTO_SCALING": "true",
    "ELASTIC_POOL_SCALE_UP_DTU": "1600",
    "ELASTIC_POOL_ORIGINAL_DTU": "800",
    "ELASTIC_POOL_RESOURCE_GROUP": "",
    "ELASTIC_POOL_SERVER_NAME": "",
    "ELASTIC_POOL_NAME": "",

    "APPLICATIONINSIGHTS_CONNECTION_STRING": ""
  }
}
